/* .wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
} */

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }

.historyTitle {
    text-align: center;
    margin:auto;
    font-size: 72px;

}

.imageUpload {
    margin: auto;
    width: 80%;
    padding: 1px;

}

.textbox {
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 18px;
}

