.signup-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 500px;
    background: white;
    padding-bottom: 50px;
}

.forms{
    display: flex;
    flex-direction: row;
}

.signup-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 10px;
    font-size: 42px;
}

.signup-textfields{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.signup-textfield{
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 50px;
    background: #eaeaea
}

.signup-textfield img{
    padding: 20px;
}

.signup-textfield input{
    background: transparent;
    border: none;
    outline: none;
    color:#797979;
}

.submit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 300px;
    height: 50px;
    border-radius: 8px;
    color: 797979;
    background: #eaeaea;
}

.submit-button-validated{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 300px;
    height: 50px;
    border-radius: 8px;
    color: white;
    background: #444444;
}

.login-denied{
    margin: auto;
        padding-top: 10px;

    color: red;
}

.recover-password{
    margin: auto;
    padding-top: 10px;
}

.recover-password span{
    color: blue;
    text-decoration: underline;
}